<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserMentorMapper">
	<insert id="registerUserMentor" parameterType="userMentorVO">
		INSERT
		INTO user_mentor_info(mentor_id, company_name, career, rating)
		VALUES(user_mentor_info_seq.NEXTVAL, companyName, career, rating)
	</insert>
	
	<delete id="deleteUserMentor" parameterType="int">
		DELETE FROM user_mentor_info WHERE mentor_id=#{VALUE}
	</delete>
	
	<update id="updateUserMentor" parameterType="userMentorVO">
		UPDATE user_mentor_info SET
		company_name = #{companyName},
		career = #{career},
		rating = #{rating}
	</update>
	
	<select id="getUserMentor" parameterType="int" resultType="userMentorVO">
		SELECT
		company_name, career, rating
		FROM user_mentor_info
		WHERE id=#{VALUE}
	</select>
	
	
</mapper>
