<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserSeekerMapper">
	<insert id="registerUserSeeker" parameterType="userSeekerVO">
		INSERT
		INTO user_seeker_info(seeker_id, ename, cname, military, bohun, disabled, nation, profile)
		VALUES(user_seeker_info_seq.NEXTVAL, #{ename}, #{cname}, #{military}, #{bohun}, #{disabled}, #{nation}, #{profile})
	</insert>
	
	<delete id="deleteUserSeeker" parameterType="int">
		DELETE FROM user_seeker_info WHERE id=#{VALUE}
	</delete>
	
	<update id="updateUserSeeker" parameterType="userSeekerVO">
		UPDATE user_seeker_info SET
		ename = #{ename},
		cname = #{cname},
		military = #{military},
		bohun = #{bohun},
		disabled = #{disabled},
		nation = #{nation},
		profile = #{profile}
	</update>
	
	<select id="getUserSeeker" parameterType="string" resultType="userInfoVO">
		SELECT
		ename, cname, military, bohun, disabled, nation, profile
		FROM user_seeker_info
		WHERE id=#{VALUE}
	</select>
	
</mapper>
