<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Category2Mapper">

	<insert id="registerCategory2" parameterType="category2VO">
		INSERT
		INTO category2(category2_id, name)
		VALUES(CATEGORY2_SEQ.NEXTVAL, name)	
	</insert>
	
	<delete id="deleteCategory2" >
		DELETE FROM category2 WHERE category2_id = #{category2Id}
	</delete>
	
	<update id="updateCategory2">
		UPDATE category2 SET
		name = #{name}
		WHERE category2_id = #{category2Id}
	</update>

</mapper>

















