<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Category1Mapper">

	<insert id="registerCategory1" parameterType="category1VO">
		INSERT
		INTO category1(category1_id, name)
		VALUES(CATEGORY1_SEQ.NEXTVAL, #{name})	
	</insert>
	
	<delete id="deleteCategory1" parameterType="string">
		DELETE FROM category1
		WHERE category1_id = #{VALUE}
	</delete>
	
	<update id="updateCategory1" parameterType="category1VO">
		UPDATE category1 SET 
		name = #{name}
	</update>
	
	

</mapper>

















