<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Category1Mapper">
	<select id ="read" parameterType="int">
		SELECT * FORM category1 WHERE category1_id = #{category1Id}
	</select>
	
	<select id="listAll">
		SELECT * FROM CATEGORY1 ORDER BY NAME DESC
	</select>
</mapper>