<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CompanyFitMapper">
	<insert id="registerCompanyFit" parameterType="com.service.spring.domain.CompanyFitVO">
		INSERT
		INTO company_fit(company_fit_id, company_name, company_needs1, company_needs2, company_needs3, company_needs4, company_needs5, company_rate1, company_rate2, company_rate3, company_rate4, company_rate5, seeker_id, resume_id, position)
		VALUES(company_fit_seq.NEXTVAL, #{companyName}, #{companyNeeds1}, #{companyNeeds2}, #{companyNeeds3}, #{companyNeeds4}, #{companyNeeds5}, #{companyRate1}, #{companyRate2}, #{companyRate3}, #{companyRate4}, #{companyRate5}, #{seekerId}, #{resumeId}, #{position})
	</insert>
	
	<delete id="deleteCompanyFit" parameterType="int">
			DELETE FROM company_fit WHERE company_fit_id = #{fitId}
	</delete>
	
	 <update id="updateCompanyFit" parameterType="com.service.spring.domain.CompanyFitVO">
        UPDATE company_fit SET
	    company_name = #{companyName},
	    company_needs1 = #{companyNeeds1},
	    company_needs2 = #{companyNeeds2},
	    company_needs3 = #{companyNeeds3},
	    company_needs4 = #{companyNeeds4},
	    company_needs5 = #{companyNeeds5},
	    company_rate1 = #{companyRate1},
	    company_rate2 = #{companyRate2},
	    company_rate3 = #{companyRate3},
	    company_rate4 = #{companyRate4},
	    company_rate5 = #{companyRate5}
	    WHERE company_fit_id = #{companyFitId}
    </update>
    
    <select id="getCompanyFit" parameterType="int" resultType="com.service.spring.domain.CompanyFitVO">
	    SELECT 
	    company_rate1, company_rate2, company_rate3, company_rate4, company_rate5, company_needs1, company_needs2, company_needs3, company_needs4, company_needs5, company_name, seeker_id
	    FROM company_fit
	    WHERE resume_id=#{id}
	</select>
</mapper>