<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CompanyMapper">

	<insert id="registerCompany" parameterType="companyVO">
		INSERT
		INTO company(company_id, name, address, start_date, end_date, company_logo, title, company_url, content, question_id)
		VALUES(COMPANY_SEQ.NEXTVAL, #{name}, #{address}, #{startDATE},#{endDate},#{companyLogo},#{title},#{companyUrl},#{content},#{questionId})	
	</insert>
	
	<delete id="deleteCompany" parameterType = "int">
		DELETE FROM company WHERE company_id = #{VALUE}
	</delete>
	
	<update id="updateCompany" parameterType="companyVO">
		UPDATE company SET
		name = #{name},
		address = #{address},
		start_date = #{startDate},
		end_date = #{endDate},
		company_logo = #{companyLogo},
		title = #{title},
		company_url = #{companyUrl},
		content = #{content}
		question_id = #{questionId},
		
		WHERE company_id = #{companyId}
	</update>

</mapper>

















