<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CompanyMapper">

	<insert id="registerCompany" parameterType="com.service.spring.domain.CompanyVO">
		INSERT INTO company (company_id, company_name, start_date, end_date, company_logo, title, company_url, content)
		VALUES (COMPANY_SEQ.NEXTVAL, #{name}, #{startDate}, #{endDate}, #{companyLogo}, #{title}, #{companyUrl}, #{content})	
	</insert>
	
	<delete id="deleteCompany" parameterType="int">
		DELETE FROM company WHERE company_id = #{companyId}
	</delete>
	
	<update id="updateCompany" parameterType="com.service.spring.domain.CompanyVO">
		UPDATE company SET
		company_name = #{companyName},
		start_date = #{startDate},
		end_date = #{endDate},
		company_logo = #{companyLogo},
		title = #{title},
		company_url = #{companyUrl},
		content = #{content}
		WHERE company_id = #{companyId}
	</update>
	
	<select id="getCompanyNameByCategory" parameterType="int" resultType="com.service.spring.domain.CompanyVO">
		SELECT c.company_name AS name
		FROM category1 c1 JOIN category2 c2
		ON c1.category1_id = c2.category1_id
		JOIN company_category_relation ccr
		ON c2.category2_id = ccr.category2_id
		JOIN company c ON ccr.company_id = c.company_id
		WHERE ccr.category2_id = #{category2Id}
	</select>
	 
	<select id="findAllCompanyByName" parameterType="String" resultType="com.service.spring.domain.CompanyVO">
		SELECT company_name
		FROM company
		WHERE company_name LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="getCompanyPositionByName" parameterType="String" resultType="com.service.spring.DTO.CompanyDataDTO">
		SELECT c.company_name, c.start_date, c.end_date, c.company_logo, c.title, c.company_url, c.content, q.position
		FROM company c JOIN question q
		ON c.company_id = q.company_id 
		WHERE c.company_name = #{companyName}
	</select>
	
	<select id="getCompanyDataByName" parameterType="String" resultType="com.service.spring.domain.CompanyVO">
		SELECT company_name, start_date, end_date, company_logo, title, company_url, content
		FROM company
		WHERE company_name = #{companyName}
	</select>
	
		

</mapper>