<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QuestionMapper">

	<insert id="registerQuestion" parameterType="com.service.spring.domain.QuestionVO">
		INSERT
		INTO question(question_id, position, question, length, company_id)
		VALUES(QUESTION_SEQ.NEXTVAL, #{position}, #{question}, #{length}, #{companyId})	
	</insert>
	
	<delete id="deleteQuestion" parameterType="int">
		DELETE FROM question WHERE question_id = #{VALUE}
	</delete>
	
	<update id="updateQuestion" parameterType="com.service.spring.domain.QuestionVO">
		UPDATE question SET
		question = #{question},
		length = #{length}
		WHERE company_id = #{companyId} AND position = #{position}
	</update> 
	
	<select id="getQuestion" parameterType="int" resultType="com.service.spring.domain.QuestionVO">
		SELECT position, question, length
		FROM question
		WHERE company_id = #{value}
	</select>
	
	<select id="getQuestionByPosition" parameterType="map" resultType="com.service.spring.domain.QuestionVO">
		SELECT question, length
		FROM question
		WHERE company_id = #{companyId} AND position = #{position}
	</select>

</mapper>