<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ResumeCommentMapper">

	<insert id="registerResumeComment" parameterType="com.service.spring.domain.ResumeCommentVO">
		INSERT
		INTO resume_comment(comment_id, content, rate, mentor_id, resume_id)
		VALUES(RESUME_COMMENT_SEQ.NEXTVAL, #{content},#{rate},#{mentorId},#{resumeId})
	</insert>
	
	<delete id="deleteResumeComment" parameterType="int">
		DELETE FROM resume_comment WHERE comment_id = #{commentId}
	</delete>
	
	<update id="updateResumeComment" parameterType="com.service.spring.domain.ResumeCommentVO">
		UPDATE resume_comment SET
		content = #{content},
		rate = #{rate}
		
		WHERE comment_id = #{commentId}
	</update>
	
	<select id="getResumeComment" parameterType="int" resultType="com.service.spring.domain.ResumeCommentVO">
		SELECT CONTENT, RATE
		FROM resume_comment
		WHERE resume_id = #{resumeId}
	</select>

</mapper>