<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ResumeMapper">

	<insert id="registerResume" parameterType="com.service.spring.domain.ResumeVO">
		INSERT INTO resume (resume_id, content, post_check, seeker_id, company_id, generate_date)
		VALUES (RESUME_SEQ.NEXTVAL, #{content}, #{postCheck}, #{seekerId}, #{companyId}, SYSDATE)	
	</insert>
	
	<delete id="deleteResume" parameterType="int">
		DELETE FROM resume WHERE resume_id = #{resumeId}
	</delete>
	
	<update id="updateResume" parameterType="com.service.spring.domain.ResumeVO">
		UPDATE resume SET
		content = #{content},
		post_check = #{postCheck}
		WHERE resume_id = #{resumeId}
	</update>
	
	<select id="getResume" resultType="com.service.spring.domain.ResumeVO">
		SELECT content, post_check, company_id, generate_date
		FROM resume
		WHERE resume_id = #{resumeId}
	</select>
	
	<select id="getResumeWithCompanyInfoById" resultType="com.service.spring.DTO.ResumeDTO">
		SELECT c.company_name, c.title, c.start_date, c.end_date, r.post_check
	    FROM resume r INNER JOIN company c
	    ON r.company_id = c.company_id
	    WHERE r.resume_id = #{resumeId}
	</select>
	
	<select id="getQnAByCompanyId" parameterType="int" resultType="com.service.spring.DTO.ResumeQnADTO">
		SELECT c.title, q.question, r.content
		FROM resume r
		JOIN company c ON r.company_id = c.company_id
		JOIN question q ON c.company_id = q.company_id
		WHERE c.company_id = #{companyId}
	</select>
	
	<select id="getCommentByResume" parameterType="int" resultType="com.service.spring.DTO.ResumeCommentDTO">
		SELECT rc.content, rc.rate, ui.id, umi.company_name
		FROM resume_comment rc
		JOIN resume r ON rc.resume_id = r.resume_id
		JOIN user_mentor_info umi ON rc.mentor_id = umi.mentor_id
		JOIN user_info ui ON umi.user_id = ui.user_id
		WHERE r.resume_id = #{resumeId}
	</select>
	
	<select id="getAllResumeBySeekerId" parameterType="int" resultType="com.service.spring.DTO.ResumeDTO">
		SELECT DISTINCT c.company_name, c.title, c.start_date, c.end_date, r.post_check, r.resume_id
		FROM company c
		JOIN question q ON c.company_id = q.company_id
		JOIN resume r ON r.company_id = c.company_id
		JOIN user_seeker_info usi ON usi.seeker_id = r.seeker_id
		WHERE usi.seeker_id = #{seekerId}
	</select>

</mapper>