<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SeekerFitMapper">
	<insert id="registerSeekerFit" parameterType="seekerFitVO">
		INSERT
		INTO seeker_fit(seeker_fit_id, tendency1, tendency2, tendency3, tendency4, tendency5, rate1, rate2, rate3, rate4, rate5, seeker_id, resume_id, position)
		VALUES(seeker_fit_seq.NEXTVAL, #{tendency1}, #{tendency2}, #{tendency3}, #{tendency4}, #{tendency5}, #{rate1}, #{rate2}, #{rate3}, #{rate4}, #{rate5}, #{seekerId}, #{resumeId}, #{position})
	</insert>
	
	<delete id="deleteSeekerFit" parameterType="int">
			DELETE FROM seeker_fit WHERE seeker_fit_id = #{fitId}
	</delete>
	
	 <update id="updateSeekerFit" parameterType="com.service.spring.domain.SeekerFitVO">
        UPDATE seeker_fit SET
        tendency1 = #{tendency1},
        tendency2 = #{tendency2},
        tendency3 = #{tendency3},
        tendency4 = #{tendency4},
        tendency5 = #{tendency5},
        rate1 = #{rate1},
        rate2 = #{rate2},
        rate3 = #{rate3},
        rate4 = #{rate4},
        rate5 = #{rate5}
        WHERE seeker_id = #{seekerId}
    </update> 
    
    <select id="getSeekerFit" parameterType="int" resultType="com.service.spring.domain.SeekerFitVO">
	    SELECT 
	    tendency1, tendency2, tendency3, tendency4, tendency5, rate1, rate2, rate3, rate4, rate5
	    FROM seeker_fit
	    WHERE resume_id=#{resumeId}
	</select>
</mapper>