<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserActivationMapper">
	<insert id="registerUserActivation" parameterType="userActivationVO">
		INSERT
		INTO user_activation_info(activation_id, name, start_date, end_date, content)
		VALUES(user_activation_info_seq.NEXTVAL, #{name}, #{startDate}, #{endDate}, #{content})
	</insert>
	
	<delete id="deleteUserActivation" parameterType="int">
		DELETE FROM user_activation_info WHERE activation_id=#{VALUE}
	</delete>
	
	<update id="updateUserActivation" parameterType="userActivationVO">
		UPDATE user_activation_info SET
		name = #{name},
		start_date = #{startDate},
		end_date = #{endDate},
		content = #{content},	
	</update>
	
	<select id="getUserActivation" parameterType="int" resultType="userActivationVO">
		SELECT
		name, start_date, end_date, content
		FROM user_activation_info
		WHERE id=#{VALUE}
	</select>
	
	
</mapper>
