<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserSeekerMapper">
	<insert id="registerUserSeeker" parameterType="userSeekerVO">
		INSERT INTO user_seeker_info(seeker_id, ename, cname, military, bohun, disabled, nation, profile, category1_no, category2_no)
		VALUES(user_seeker_info_seq.NEXTVAL, #{ename}, #{cname}, #{military}, #{bohun}, #{disabled}, #{nation}, #{profile.originalFilename}, #{category1No}, #{category2No})
	</insert>
	
	<delete id="deleteUserSeeker" parameterType="int">
		DELETE FROM user_seeker_info WHERE seeker_id=#{VALUE}
	</delete>
	
	<update id="updateUserSeeker" parameterType="userSeekerVO">
		UPDATE user_seeker_info SET
		ename = #{ename},
		cname = #{cname},
		military = #{military},
		bohun = #{bohun},
		disabled = #{disabled},
		nation = #{nation},
		category1_no = #{category1No},
		category2_no = #{category2No}
		profile = #{profile.originalFilename}
		WHERE SEEKER_ID = #{seekerId}	
	</update>
	
	<select id="getUserSeeker" parameterType="string" resultType="userInfoVO">
		SELECT si.ename, si.cname, si.military, si.bohun, si.disabled, si.nation, si.profile
		FROM user_info ui INNER JOIN user_seeker_info si
		ON ui.user_id = si.user_id
		WHERE ui.user_id = #{userId}
	</select>
	
</mapper>
