<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserProjectMapperr">
	<insert id="registerUserProject" parameterType="com.service.spring.domain.UserProjectVO">
		INSERT
		INTO user_project_info(project_id, project_name, host_name, content, skill, institution)
		VALUES(user_project_seq.NEXTVAL,#{projectName}, #{hostName}, #{content}, #{skill}, #{institution})
	</insert>
	
	<delete id="deleteUserProject" parameterType="int">
		DELETE FROM user_project_info WHERE project_id=#{VALUE}
	</delete>
	
	<update id="updateUserProject" parameterType="com.service.spring.domain.UserProjectVO">
		UPDATE user_project_info SET
		name = #{name},
		host_name = #{hostName},
		content = #{content},
		skill = #{skill},
		institution = #{institution}	
	</update>
	
	<select id="getUserProject" parameterType="int" resultType="com.service.spring.domain.UserProjectVO">
		SELECT
		name, host_name, content, skill, institution
		FROM user_project_info
		WHERE project_id=#{VALUE}
	</select>
	
	
</mapper>
