<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserMentorMapper">
	<insert id="registerUserMentor" parameterType="com.service.spring.domain.UserMentorVO">
		INSERT INTO user_mentor_info (mentor_id, company_name, career, rating, user_id)
		VALUES (user_mentor_info_seq.NEXTVAL, #{companyName}, #{career}, #{rating}, #{userId})
	</insert>
	
	<delete id="deleteUserMentor" parameterType="int">
		DELETE FROM user_mentor_info WHERE mentor_id=#{VALUE}
	</delete>
	
	<update id="updateUserMentor" parameterType="com.service.spring.domain.UserMentorVO">
		UPDATE user_mentor_info SET
		company_name = #{companyName},
		user_id = #{userId},
		career = #{career},
		rating = #{rating}
		WHERE mentor_id = #{mentorId}
	</update>
	
	<select id="getUserMentor" parameterType="int" resultType="com.service.spring.domain.UserMentorVO">
		SELECT mi.company_name, mi.career, mi.rating
		FROM user_info ui INNER JOIN user_mentor_info mi
		ON ui.user_id = mi.user_id
		WHERE mi.user_id = #{userId} AND ui.user_status = 1
	</select>
	
	
</mapper>
