<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserLicenseMapper">
	<insert id="registerUserLicense" parameterType="com.service.spring.domain.UserLicenseVO">
		INSERT INTO user_license_info (license_id, license_name, grade, acquired_date, license_number, agency, seeker_id)
		VALUES (user_license_info_seq.NEXTVAL, #{licenseName}, #{grade}, TO_DATE(#{acquiredDate}, 'YYYY-MM-DD'), #{licenseNumber}, #{agency}, #{seekerId})
	</insert>
	
	<delete id="deleteUserLicense" parameterType="int">
		DELETE FROM user_license_info WHERE license_id=#{VALUE}
	</delete>
	
	<update id="updateUserLicense" parameterType="com.service.spring.domain.UserLicenseVO">
		UPDATE user_license_info SET
		license_name = #{licenseName},
		grade = #{grade},
		acquired_date = TO_DATE(#{acquiredDate}, 'YYYY-MM-DD'),
		license_number = #{licenseNumber},
		agency = #{agency},
		seeker_id = #{seekerId}
		WHERE license_id = #{licenseId}
	</update>
	
	<select id="getUserLicense" parameterType="int" resultType="com.service.spring.domain.UserLicenseVO">
		SELECT
		license_name, grade, TO_CHAR(acquired_date, 'YYYY-MM-DD') AS acquired_date, license_number, agency
		FROM user_license_info
		WHERE license_id=#{licenseId}
	</select>
	
	<select id="getAllUserLicense" parameterType="int" resultType="com.service.spring.domain.UserLicenseVO">
		SELECT
		license_name, grade, TO_CHAR(acquired_date, 'YYYY-MM-DD') AS acquired_date, license_number, agency
		FROM user_license_info
		WHERE seeker_id = #{seekerId}
	</select>
	
</mapper>
