<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserRewardMapper">
	<insert id="registerUserReward" parameterType="userRewardVO">
		INSERT
		INTO user_reward_info(reward_id, name, acquired_date, agency, content)
		VALUES(user_reward_info_seq.NEXTVAL, #{name}, #{acquiredDate}, #{agency}, #{content})
	</insert>
	
	<delete id="deleteUserReward" parameterType="int">
		DELETE FROM user_reward_info WHERE reward_id=#{VALUE}
	</delete>
	
	<update id="updateUserReward" parameterType="userRewardVO">
		UPDATE user_reward_info SET
		name = #{name},
		acquired_date = #{acquiredDate},
		agency = #{agency},
		content = #{content}
	</update>
	
	<select id="getUserReward" parameterType="int" resultType="userRewardVO">
		SELECT
		name, acquired_date, agency, content
		FROM user_reward_info
		WHERE id=#{VALUE}
	</select>
	
	
</mapper>
