<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->


<mapper namespace="UserInfoMapper">
	<insert id="registerUserInfo" parameterType="userInfoVO">
		INSERT
		INTO user_info(user_id, id, password, user_name, birthdate, sex, email, phone, user_status, tstamp, mail_check, address)
		VALUES(user_info_seq.NEXTVAL, #{id}, #{password}, #{userName}, #{birthdate}, #{sex}, #{email}, #{phone}, #{userStatus}, SYSDATE, #{mailCheck}, #{address})
	</insert>
	
	<delete id="deleteUserInfo" parameterType="string">
		DELETE FROM user_info WHERE id=#{VALUE}
	</delete>
	
	<update id="updateUserInfo" parameterType="userInfoVO">
		UPDATE user_info SET
		password = #{password},
		user_name = #{userName},
		birthdate = #{birthdate},
		sex = #{sex}, 
		email = #{email},
		phone = #{phone},
		user_status = #{userStatus},
		tstamp = #{tstamp},
		mail_check = #{mailCheck},
		address = #{address}
		WHERE id=#{id}
	</update>
	
	<select id="getUserInfo" parameterType="string" resultType="userInfoVO">
		SELECT
		id, password, user_name, birthdate, sex, email, phone, user_status, tstamp, mail_check, address
		FROM user_info
		WHERE id=#{VALUE}
	</select>
	
	<select id="findUserId" parameterType="string" resultType="string">
		SELECT 
		id
		FROM user_info
		WHERE user_name=#{name} AND phone=#{phone}
	</select>
	
	<select id="findUserPassword" parameterType=String resultType="userInfoVO">
		SELECT 
		email
		FROM user_info
		WHERE user_name=#{name} AND id=#{id} AND email=#{email}
	</select>
	
	<select id="login" parameterType="userInfoVO" resultType="userInfoVO">
		SELECT
		id, password, user_name, birthdate, sex, email, phone, user_status, tstamp, mail_check, address
		FROM user_info
		WHERE id=#{id} AND password=#{password}
	</select>
</mapper>
