<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserProjectMapper">
	<insert id="registerUserProject" parameterType="com.service.spring.domain.UserProjectVO">
		INSERT
		INTO user_project_info(project_id, project_name, host_name, content, skill, institution, seeker_id)
		VALUES(user_project_info_seq.NEXTVAL,#{projectName}, #{hostName}, #{content}, #{skill}, #{institution}, #{seekerId})
	</insert>
	
	<delete id="deleteUserProject" parameterType="int">
		DELETE FROM user_project_info WHERE seeker_id=#{seekerId}
	</delete>
	
	<update id="updateUserProject" parameterType="com.service.spring.domain.UserProjectVO">
		UPDATE user_project_info SET
		project_name = #{projectName},
		host_name = #{hostName},
		content = #{content},
		skill = #{skill},
		institution = #{institution}
		WHERE project_id = #{projectId}
			
	</update>
	
	<select id="getUserProject" parameterType="int" resultType="com.service.spring.domain.UserProjectVO">
		SELECT
		project_name, host_name, content, skill, institution
		FROM user_project_info
		WHERE project_id=#{VALUE}
	</select>
	
	<select id="getAllUserProject" parameterType="int" resultType="com.service.spring.domain.UserProjectVO">
		SELECT
		project_name, host_name, content, skill, institution
		FROM user_project_info
		WHERE seeker_id=#{seekerId}
	</select>
	
	<select id="getProjectNumber" parameterType="int" resultType="int">
		select count(*) FROM user_project_info 
		WHERE seeker_id = #{seekerId}	
	</select>
	
</mapper>
