<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserOverseasMapper">
	<insert id="registerUserOverseas" parameterType="com.service.spring.domain.UserOverseasVO">
		INSERT
		INTO user_overseas_info(overseas_id, purpose, nation, start_date, end_date, institution, reason, seeker_id)
		VALUES(user_overseas_info_seq.NEXTVAL, #{purpose}, #{nation}, TO_DATE(#{startDate}, 'YYYY-MM-DD'), TO_DATE(#{endDate}, 'YYYY-MM-DD'), #{institution}, #{reason}, #{seekerId})
	</insert>
	
	<delete id="deleteUserOverseas" parameterType="int">
		DELETE FROM user_overseas_info WHERE seeker_id=#{seekerId}
	</delete>
	
	<update id="updateUserOverseas" parameterType="com.service.spring.domain.UserOverseasVO">
		UPDATE user_overseas_info SET
		purpose = #{purpose},
		nation = #{nation},
		start_date = TO_DATE(#{startDate}, 'YYYY-MM-DD'),
		end_date = TO_DATE(#{endDate}, 'YYYY-MM-DD'),
		institution = #{institution},
		reason = #{reason},	
		seeker_id = #{seekerId}
		WHERE overseas_id = #{overseasId}
	</update>
	
	<select id="getUserOverseas" parameterType="int" resultType="com.service.spring.domain.UserOverseasVO">
		SELECT
		purpose, nation, TO_CHAR(start_date, 'YYYY-MM-DD') AS start_date, TO_CHAR(end_date, 'YYYY-MM-DD') AS end_Date, institution, reason
		FROM user_overseas_info
		WHERE overseas_id=#{VALUE}
	</select>
	
	<select id="getAllUserOverseas" parameterType="int" resultType="com.service.spring.domain.UserOverseasVO">
		SELECT
		purpose, nation, TO_CHAR(start_date, 'YYYY-MM-DD') AS start_date, TO_CHAR(end_date, 'YYYY-MM-DD') AS end_date, institution, reason
		FROM user_overseas_info
		WHERE seeker_id = #{seekerId}
	</select>
	
	<select id="getOverseasNumber" parameterType="int" resultType="int">
		select count(*) FROM user_overseas_info 
		WHERE seeker_id = #{seekerId}
	</select>
</mapper>
