<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserSchoolMapper">
	<insert id="registerUserSchool" parameterType="com.service.spring.domain.UserSchoolVO">
		INSERT
		INTO user_school_info(school_id, education_type, school_name, entrance_date, graduation_date, major, attending_check, transfer_check, gpa, highest_check, double_major, seeker_id)
		VALUES(USER_SCHOOL_INFO_SEQ.NEXTVAL, #{educationType}, #{schoolName}, TO_DATE(#{entranceDate}, 'YYYY-MM-DD'), TO_DATE(#{graduationDate}, 'YYYY-MM-DD'), #{major}, #{attendingCheck}, #{transferCheck}, #{gpa}, #{highestCheck}, #{doubleMajor}, #{seekerId})
	</insert>
	
	<delete id="deleteUserSchool" parameterType="int">
		DELETE FROM user_school_info WHERE shcool_info_id=#{VALUE}
	</delete>
	
	<update id="updateUserSchool" parameterType="com.service.spring.domain.UserSchoolVO">
		UPDATE user_school_info SET
		education_type = #{educationType},
		school_name = #{schoolName},
		entrance_date = TO_DATE(#{entranceDate}, 'YYYY-MM-DD'),
		graduation_date = TO_DATE(#{graduationDate}, 'YYYY-MM-DD'),
		major = #{major},
		attending_check = #{attendingCheck},
		transfer_check = #{transferCheck},
		gpa = #{gpa},
		highest_check = #{highestCheck},
		double_major = #{doubleMajor}
		WHERE school_id = #{schoolId}
	</update>
	
	<select id="getUserSchool" parameterType="int" resultType="com.service.spring.domain.UserSchoolVO">
		SELECT
		education_type, school_name,TO_CHAR(entrance_date, 'YYYY-MM-DD') AS entrance_date, TO_CHAR(graduation_date, 'YYYY-MM-DD') AS graduation_date, major, attending_check, transfer_check, gpa, highest_check, double_major
		FROM user_school_info
		WHERE school_id=#{VALUE}
	</select>
	
	<select id="getAllUserSchool" parameterType="int" resultType="com.service.spring.domain.UserSchoolVO">
		SELECT
		education_type, school_name, TO_CHAR(entrance_date, 'YYYY-MM-DD') AS entrance_date, TO_CHAR(graduation_date, 'YYYY-MM-DD') AS graduation_date, major, attending_check, transfer_check, gpa, highest_check, double_major
		FROM user_school_info
		WHERE seeker_id = #{seekerId}
	</select>
	
	
</mapper>
