<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserLicenseMapper">
	<insert id="registerUserLicnse" parameterType="com.service.spring.domain.UserLicenseVO">
		INSERT
		INTO user_license_info(license_id, license_name, grade, acquired_date, license_number, agency)
		VALUES(user_license_info_seq.NEXTVAL, name, grade, acquiredDate, licenseNumber, agency)
	</insert>
	
	<delete id="deleteUserLicense" parameterType="int">
		DELETE FROM user_license_info WHERE license_id=#{VALUE}
	</delete>
	
	<update id="updateUserLicense" parameterType="com.service.spring.domain.UserLicenseVO">
		UPDATE user_license_info SET
		license_name = #{name},
		grade = #{grade},
		acquired_date = #{acquiredDate},
		license_number = #{licenseNumber},
		agency = #{agency}
	</update>
	
	<select id="getUserLicense" parameterType="int" resultType="com.service.spring.domain.UserLicenseVO">
		SELECT
		license_name, grade, acquired_date, license_number, agency
		FROM user_license_info
		WHERE license_id=#{VALUE}
	</select>
	
	
</mapper>
