<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserRewardMapper">
	<insert id="registerUserReward" parameterType="com.service.spring.domain.UserRewardVO">
		INSERT
		INTO user_reward_info(reward_id, reward_name, acquired_date, host, content, seeker_id)
		VALUES(user_reward_info_seq.NEXTVAL, #{rewardName}, TO_DATE(#{acquiredDate}, 'YYYY-MM-DD'), #{host}, #{content}, #{seekerId})
	</insert>
	
	<delete id="deleteUserReward" parameterType="int">
		DELETE FROM user_reward_info WHERE reward_id=#{VALUE}
	</delete>
	
	<update id="updateUserReward" parameterType="com.service.spring.domain.UserRewardVO">
		UPDATE user_reward_info SET
		reward_name = #{rewardName},
		acquired_date = TO_DATE(#{acquiredDate}, 'YYYY-MM-DD'),
		host = #{host},
		content = #{content},
		seeker_id = #{seekerId}
		WHERE reward_id = #{rewardId}
	</update>
	
	<select id="getUserReward" parameterType="int" resultType="com.service.spring.domain.UserRewardVO">
		SELECT
		reward_name, TO_CHAR(acquired_date, 'YYYY-MM-DD') AS acquired_date, host, content
		FROM user_reward_info
		WHERE reward_id=#{VALUE}
	</select>
	
	<select id="getAllUserReward" parameterType="int" resultType="com.service.spring.domain.UserRewardVO">
		SELECT
		reward_name, TO_CHAR(acquired_date, 'YYYY-MM-DD') AS acquired_date, host, content
		FROM user_reward_info
		WHERE seeker_id=#{seekerId}
	</select>
	
	<select id="getRewardNumber" parameterType="int">
		select count(*) FROM user_reward_info 
		WHERE seeker_id = #{seekerId}	
	</select>
	
</mapper>
