<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->


<mapper namespace="UserInfoMapper">
	<insert id="registerUserInfo" parameterType="com.service.spring.domain.UserInfoVO">
		INSERT INTO user_info(user_id, id, password, user_name, birthdate, sex, email, phone, user_status, tstamp, mail_check, address)
		VALUES(user_info_seq.NEXTVAL, #{id}, #{password}, #{userName}, TO_DATE(#{birthdate}, 'YYYY-MM-DD'), #{sex}, #{email}, #{phone}, #{userStatus}, TO_CHAR(SYSDATE, 'YYYY-MM-DD'), #{mailCheck}, #{address})
	</insert>

	<delete id="deleteUserInfo" parameterType="int">
		DELETE FROM user_info WHERE user_id=#{userId}
	</delete>
	
	<update id="updateUserInfo" parameterType="com.service.spring.domain.UserInfoVO">
		UPDATE user_info SET
		id = #{id},
		password = #{password},
		user_name = #{userName},
		birthdate = TO_DATE(#{birthdate}, 'YYYY-MM-DD'),
		sex = #{sex}, 
		email = #{email},
		phone = #{phone},
		user_status = #{userStatus},
		mail_check = #{mailCheck},
		address = #{address}
		WHERE user_id=#{userId}
	</update>
	
	<select id="getUserInfo" parameterType="int" resultType="com.service.spring.domain.UserInfoVO">
		SELECT
		id, password, user_name, TO_CHAR(birthdate, 'YYYY-MM-DD') AS birthdate, sex, email, phone, user_status, TO_CHAR(tstamp, 'YYYY-MM-DD') AS tstamp, mail_check, address
		FROM user_info
		WHERE user_id=#{userId}
	</select>
	
	<select id="findUserId" parameterType="map" resultType="String">
		SELECT 
		id
		FROM user_info
		WHERE user_name=#{name} AND phone=#{phone}
	</select>
	
	<select id="findUserPassword" parameterType="map" resultType="String">
		SELECT 
		password
		FROM user_info
		WHERE user_name=#{name} AND id=#{id} AND email=#{email}
	</select>
	
	<select id="login" parameterType="com.service.spring.domain.UserInfoVO" resultType="com.service.spring.domain.UserInfoVO">
		SELECT
		user_id, id, password, user_name, TO_CHAR(birthdate, 'YYYY-MM-DD'), sex, email, phone, user_status, TO_CHAR(tstamp, 'YYYY-MM-DD'), mail_check, address
		FROM user_info
		WHERE id=#{id} AND password=#{password}
	</select>
</mapper>
