<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	CRUD를 다 완벽하게 구현
	C : INSERT
	R : SELECT
	U : UPDATE
	D : DELETE
 -->

<mapper namespace="UserLanguageMapper">
	<insert id="registerUserLanguage" parameterType="com.service.spring.domain.UserLanguageVO">
		INSERT INTO user_language_info (language_id, language, type, grade, acquired_date, license_number, seeker_id, agency)
		VALUES (user_language_info_seq.NEXTVAL, #{language}, #{type}, #{grade}, #{acquiredDate}, #{licenseNumber}, #{seekerId}, #{agency})
	</insert>
	
	<delete id="deleteUserLanguage" parameterType="int">
		DELETE FROM user_language_info WHERE language_id=#{VALUE}
	</delete>
	
	<update id="updateUserLanguage" parameterType="com.service.spring.domain.UserLanguageVO">
		UPDATE user_language_info SET
		language = #{language},
		type = #{type}, 
		grade = #{grade},
		acquired_date = #{acquiredDate},
		license_number = #{licenseNumber},
		agency = #{agency}
		WHERE language_id = #{languageId}
	</update>
	
	<select id="getUserLanguage" parameterType="int" resultType="com.service.spring.domain.UserLanguageVO">
		SELECT
		language, type, grade, acquired_date, license_number, agency
		FROM user_language_info
		WHERE language_id = #{languageId}
	</select>
	
	<select id="getAllUserLanguage" parameterType="int" resultType="com.service.spring.domain.UserLanguageVO">
		SELECT
		language, type, grade, acquired_date, license_number, agency
		FROM user_language_info
		WHERE seeker_id = #{seekerId}
	</select>
	
	
</mapper>
